.addfund {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addfund__con {
    background: white;
    box-shadow: 11px 10px 20px rgba(0, 0, 0, 0.25);
    width: 90%;
}

.addfund__tab {
    display: flex;
    width: 100%;
    gap: 40px;
    padding: 20px 40px;
    align-items: center;
}


.addfund__tab__active {
    background: #C8D7FF;
    padding: 10px 20px;
    border-radius: 12px;
}

.addfund__tab__active:hover {
    background: #919fc6;
}

.addfund__method {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .addfund {
        align-items: center;
    }

    .addfund__con {
        width: 95%;
        margin-left: 0;
        border-radius: 12px;
        margin: 20px 0;
    }

    .addfund__tab {
        display: flex;
        width: 100%;
        gap: 10px;
        padding: 20px;
        align-items: center;
    }

    .addfund__tab>p {
        font-size: 12px;
        width: 100%;
    }

}