.profile__con {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}

.profile {
    width: 100%;
    display: flex;
    gap: 40px;
}

.profile__left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}


.profile__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 14.7588px 13.4171px 26.8342px rgba(0, 0, 0, 0.25);
    padding: 20px 10px;
}

.profile__card__input {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0px 20px;
}

.profile__card__input>input {
    border: 1.34171px solid #777777;
    border-radius: 4px;
    width: 100%;
    padding: 15px;
}

.profile__button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.profile__button>button {
    width: 30%;
    padding: 20px;
    background: #F0884D;
    color: white;
    font-weight: bold;
    border-radius: 26.6834px;
}

.profile__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    padding: 15px 40px;
}


@media screen and (max-width: 768px) {
    .profile {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }


    .profile__left {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        gap: 20px;
    }

    .profile__right {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 15px 10px;
    }

    .profile__button>button {
        width: 50%;
        padding: 20px;
        background: #F0884D;
        color: white;
        font-weight: bold;
        border-radius: 26.6834px;
    }

}